.ant-switch-checked {
  background-color: #04ca00;
}
a {
  color: #667599;
}
.ant-table-thead th {
  color: #667599 !important;
}
.table-row .ant-table-cell {
  font-weight: 700;
  color: #707d9f;
}

.table-row .ant-table-cell:nth-child(2) {
  font-weight: 700;
  color: #071330;
}
